<div class="card">
  <h1>Welcome to the Boilerplate App</h1>
  <a href="/register" class="waves-effect waves-light btn">Sign Up</a>
  <a href="/login" class="waves-effect waves-light btn">Sign In</a>
</div>